<!doctype html>
<html>
   <body>

      <h1 style="color:DodgerBlue;" >Status  for Main APP of {{ url_1 }}  is :   at  {{ last_update_time }}    status is    {{  status_app}}
          if you found other than 200 please check Main app right now, that means Application is down you should  respond imm on Main monitoring App for sites </h1>

      <h1 style="color:Tomato;"> response time for {{ url_1 }}  : at {{ last_update_time }}  occured    is  {{ time_elapsed }}</h1>

       <meta http-equiv="refresh" content="5" >

   </body>
</html>
s