<!doctype html>
<html>

<head>
<style>
    body {
      background-color: powderblue;
    }

   </style>
<head>


   

      <center>
     
      <h1 style="color:DodgerBlue;" >Response time for {{ url_1 }}  : at  {{ last_update_time }}  occured   is   {{ time_elapsed }}</h1>
      
      <h1 style="color:Tomato;"> Response time for {{ url_2 }}  : at {{ last_update_time }}  occured    is  {{ time_elapsed_1 }}</h1>

       <h1 style="color:Tomato;"> Response time for {{ url_3 }}  : at {{ last_update_time }}  occured    is  {{ time_elapsed_2 }}</h1>

      <meta http-equiv="refresh" content="10" >


       <center>

      

</html>
